/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}

header {
  background-color: #086788;
  width: 1024px;
  margin: auto; 
  height: 175px;
}

.logo {
  width: 75%;
  display: block; 
  margin: auto; 
  height: 178px;
}

#ul {
  padding: 0;
  list-style-type: none;
  background-color: #086788;
  width: 1024px;
  margin: 0 auto;  
 
}

#ul li {
  float: left;
  display: inline-block;
  width: 25%;
  background-color: #086788;
  text-align: center;
  padding: 10px 0;
 
}
#ul li:last-child {
  border-right: none;
}

#ul button {
  color: white;
  text-decoration: none;
  background-color:transparent;
  border:0px;
  font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

#ul li:hover {
  background-color: #07a0c3;
}
.active {
  background-color: #ff5252;
}
.main {
  width: 1024px;
  background-color: #eeeeee;
  text-align: center;
  
  margin:auto;
  
}
table {
  width: 400px;
  text-align:left;
  border-collapse:collapse;  
}
td {
  margin:7px;
  width:180px;
}
th {
  background-color: #aeb4b8/*#07a0c3*/;
  font-weight:bold;
  text-align:center;
  color: #444;
  padding: 15px;
}
tr:nth-child(odd) {background-color: #aeb4b8;}

input[type=submit] {
  border: none;
  background-color: #eeeeee;
  border-radius:5px;
  padding:8px;
  color:white;
  font-weight: bold;
  margin-right: 10px;
}

.nazev {
  padding-right: 200px;
  padding-left: 40px;
}
.center {
	text-align: center;
}
.balicek {
  border: none;
  background-color: #3490DC;
  border-radius:5px;
  padding:8px;
  color:white;
  font-weight: bold;
  font-size: 15px;
  margin-left: 300px;
 
}
.karticky {
  border: none;
  background-color: #ff5252;
  border-radius:5px;
  padding:8px;
  color:white;
  font-weight: bold;
  font-size: 15px;
}

.front {
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 400px;
  padding: 100px 0px;
  margin-top: 20px;
  margin-left: 80px;
  background-color: #f1f1f1;
  font-size: 50px;
  
}

.back {
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
img {
  float:left;
}

.celyblok {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #dcdddd;
  padding:30px;
}

.radekseznamu {
  float:right;
  color: white;
  font-weight: bold;
  background-color:#086788;
  border-style: solid black;
  border:4px;  
}
.radekseznamu1 {
  float:left;
  color: white;
  font-weight: bold;
  background-color:#086788;
  border-style: solid black;
  border:4px;  
}
.vyb_balicek{
  float:right;
  color: white;
  font-weight: bold;
  background-color:#086788;
  border-style: solid;
  border:4px;  
  margin-right: 10px;
}
a {
  color: #086788;
  font-weight: bold;
  text-decoration: none;
  border-style: solid;
}

#ul .nazevBalicku {
	background-color:#07a0c3;
	color: white;

}
.sloupec {
  background-color:#086788;
  color:white;
  align-content: left;
  font-family: sans-serif;
  font-size: 24px;
  height: 150px;
  width: 80px;
  margin: 0 5px;
  border-radius: 50px;
  border-style: solid sandybrown;
}

.centrum{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
#canvas_back {
  display:none;
}

/*body {
  background-color:white;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}*/

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  text-align: center;
  
}
/*
header {
  height: 50px;
}


nav ul {
  list-style-type: none;
  margin: 0px;
}
nav ul li {
  float: left;
  padding: 0px 25px;
  margin: 0px 5px;
  font: 17px Verdana;
  height: 50px;
  width:80px;
  line-height: 3em;
  background-color: #034f84 ;


}

.button2{
  float: left;
  padding: 0px 25px;
  margin: 0px 5px;
  font: 17px Verdana;
  height: 50px;
  line-height: 3em;
  background-color: #034f84 ;
  color:white;
  border:none;
  width:80px;
  text-align:left;
}
nav a {
  color: white;
  text-decoration: none;
}

nav ul li:hover {
  background: #92a8d1;
}
.logo {
  background-color: darkmagenta;
  color: white;
  font: 35px Verdana;
  height: 50px;
  width: 200px;

}
.celyblok {
  
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: antiquewhite;
}

p {
  text-align: center;
}
.button {
  background-color: #92a8d1;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: white;
  float:right;
}
.balicek {
 
  padding: 0px 25px;
  margin: 0px 5px;
  font: 25px Verdana;
  height: 80px;
  line-height: 4em;
  background-color: #92a8d1 ;
  color: white;
}

ul  {
    list-style-type: none;
    margin: 0px;
  }
ul li {
  padding: 0 25px;
  margin: auto;
  font: 17px Verdana;
  height: 50px;
  line-height: 3em;
  background-color: #92a8d1 ;
  color: white;
 }

.radekseznamu {
  float:right;
}


img {
  float:left;
}
.cistic {
  clear: both;
}
.canvas {
  background-color:darksalmon;
  color: white;
  font: 18px Verdana;
  height: 200px;
  width: 200px;
  border-radius: 50px;
  
}
.canvasd {
  background-color:darksalmon;
  color: white;
  font: 18px Verdana;
  height: 50px;
  width: 100px;
  border-radius: 50px;
}
.inpucanvas{
  background-color:whitesmoke;
  color: white;
  font: 8px Verdana;
  height: 15px;
  width: 15px;
  border-radius: 2px;
}

#canvas_back {
	display:none;
}

.vedle {
  float:left;
}*/